@import 'palette';

.component-AppSidebar {
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden auto;
    height: calc(100vh - 85px);
    width: 35vw;
    min-width: 600px;
}

.component-AppFrame {
    min-height: 380px;
    height: 22vw;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0px 0 4px 0px $palette3;
    background-color: $palette1;

    &.fullscreen {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 20;
    }

    &:hover {
        background-color: lighten($palette1, 5%);
    }

    .AppFrame_children {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }

    .Help {
        position: absolute;
        pointer-events: none;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: transparentize($palette1, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        opacity: 1;
        z-index: 1;

        &:not(.visible) {
            opacity: 0;
        }

        > p {
            width: 100%;
            padding: 10px;
            text-align: center;
            background-color: $palette1;
            box-shadow: 0px 0px 5px 10px $palette1;
        }
    }
}

.Help_Button {
    right: 50px;
    z-index: 2;
}

.Maximise_Button {
    right: 5px;
    z-index: 2;
}

.Maximise_Button,
.Help_Button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    background: transparentize($palette3, 0.5);
    border-radius: 5px;

    &:hover {
        background: transparentize($palette3, 0.2);
    }

    > svg {
        width: 100%;
        height: 100%;

        > path {
            fill: none;
            stroke: $palette5;
            pointer-events: none;
        }

        > rect {
            fill: #ffffff00;
            stroke: none;
        }
    }
}
