@import 'palette';

.App_sidebar {

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 600px;
    right: 0px;
    top: 0px;
    overflow: hidden auto;

}

.App_sidebar_frame {
    height: 380px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0px 0 4px 0px $palette3;
    background-color: $palette1;

    &:hover { background-color: lighten( $palette1, 5% ) }

    .App_frame_children {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: .5s;

    }
}

.Help_Button {
    right: 50px;
}

.Maximise_Button {
    right: 5px;
}

.Maximise_Button, .Help_Button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    background: transparentize( $palette3, 0.5 );
    border-radius: 5px;

    &:hover {
        background: transparentize( $palette3, 0.2 );
    }

    > svg {
        width: 100%;
        height: 100%;

        > path {
            fill: none;
            stroke: $palette5;
            pointer-events: none;
        }

        > rect {
            fill: #ffffff00;
            stroke: none;
        }
    }
}
