@import 'palette';

.Graph {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    * {
        user-select: none;
    }

    .OverloadWarning {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparentize($palette1, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        &:not(.overload) {
            display: none;
        }

        > p {
            width: 100%;
            padding: 10px;
            text-align: center;
            background-color: $palette1;
            box-shadow: 0px 0px 5px 10px $palette1;
        }
    }

    .StackedBar,
    .StackedArea {
        flex-grow: 1;
        height: 100%;

        &_Bars {
            stroke: none;
            stroke-width: 1px;
        }
    }

    .tick text {
        font-size: 20px;
    }

    .legendEntry text {
        font-size: 18px;
    }

    .BottomAxis text {
        text-anchor: end;
        transform: rotate(-45deg);
    }

    .Axes > text,
    .Title {
        fill: $palette5;
        font-size: 24px;
        text-anchor: middle;
    }

    .Cursor {
        pointer-events: none;

        &_title {
            font-size: 18px;
        }
        > line {
            stroke: black;
            stroke-width: 3px;
        }
        text {
            fill: $palette5;
        }
    }
}
