@import 'components/css/palette';

.App {
    background-color: $palette2;
    min-height: 100vh;
    color: white;
    min-width: 900px;
    overflow: hidden;
}

header {
    background-color: $palette1;
    height: 70px;
    padding-top: 10px;
    border-bottom: solid 5px $palette3;

    h1 {
        padding: 5px;
        margin: 0px;
        color: $palette5;
    }

    button {
        position: absolute;
        top: 20px;
        right: 10px;
        background-color: $palette3;
        color: $palette5;
        border: none;
        font-size: 28px;

        &:hover { background-color: lighten($palette3, 20% ) }
    }
}

.page {
    height: calc( 100vh - 85px );
    position: relative;
}
